// COLORS
$primary-color: #e9c46a;
$secondary-color: #f4a261;
$third-color: #e76f51;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #264653;

$dark-grey: #333333;

$dark-blue-text: #2a9d8f; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
